@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Platypi", serif;
}

body{
    background: #EE816E;
     margin: 150px;
     display: flex;
     justify-content: center;
    align-items: center;
}
.box{
    width: 900px;
    height: 2400px;
    background: #FFFCFA;
    border-radius: 25px;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.50);
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px;
}
.image img{
    max-width: 80%;
    border-radius: 25px;
    margin-top:30px;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.30);
}
.titlee{ 
   margin-left:110px;
}
h1{
    color: #2A2928;
    font-size: 280%;
}
.subtitle{
    margin-right:110px;
    margin-left:110px;
}
.prepare{
    margin:30px;
    margin-right: 110px;
    margin-left: 110px;
    background: #FBEDE9;
    height:180px;
    border-radius: 25px;
    padding:20px;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.15);
}
.prepare:hover{
    background: #FBE7E1;
    transition: 0.5s;
}
.prepare-title{
    color: #CD0000;
    font-size: 23px;
    margin:10px;
}
.sub{
    color: #2A2928;
    font-size:10px;
}
.time{
    color: #2A2928;
    font-size: 105%;
    margin:10px;
}
.titles{
    font-size:30px;
    color:#814B23;
    font-weight: bold;
    margin-left:110px;
}
.subtext{
    margin-right: 110px;
    margin-left: 110px;
}
.textss{
    color: #2A2928;
    font-size: 105%;
}
.line{
    background: #9A9998;
    height: 1px;
    margin-right: 110px;
    margin-left: 110px;
    margin-top: 50px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.15);
}
.info{
    margin-right: 110px;
    margin-left: 110px;
    margin-top: 30px;
    display: flex;
    justify-content:space-between;
}
.line-inf{
    background: #9A9998;
    height: 1px;
    margin-right: 110px;
    margin-left: 110px;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.15);
}
h3{
    color: #301500;
}